.forget-main {
  display: flex;
}

.forget-side {
  background-image: url("https://images.unsplash.com/photo-1638132035918-90a22beaab3b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120%;
  height: 90vh;
  border-radius: 50px 10px;
}
.forget-form > div > h1 {
  margin: 10px 0;
  color: black;
}
.forget-introduce {
  margin: auto 100px auto 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.forget-introduce > h1 {
  color: mediumblue;
  font-size: 40px;
}
