.mainProfile {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 5px;
}
.profileCardHeading {
  text-align: center;
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 27px;
  color: rgb(0, 0, 0);
}
.profileAvatar {
  background-color: black;
  color: white;
  margin-bottom: 4px;
}
.profileForm {
  margin-bottom: 4px;
}
.profileButton {
  background-color: black;
}
